<% fields_for :recommendations do |recommendations| %>
  <%- (1..5).to_a.each do |n| %>
    <% recommendations.fields_for n.to_s do |r| %>
      <p><label>Email:</label><%= r.text_field :email %></p>
    <% end %>
  <%- end %>
<% end %>