<%- html_title "News" %>
<%- form_for @news, :url => news_path(:id => @news.id), :html => { :multipart => true, :method => :put } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= render :partial => "tags" %>
  <p><%= f.submit "Submit" %></p>
<%- end %>