<%- html_title "News" %>
<%- if @news.size > 0 %>
  <%- is_first = true %>
  <%- @news.each do |news| %>
    <%= render :partial => "last_news", :locals => {:news => news, :is_first => is_first} %>
    <%- if is_first %>
      <%- is_first = false %>
      <div class="last-news">
    <%- end %>
  <%- end %>
  </div>
<%- end %>
<div class="bottom">
  <% if logged_in? and current_user.is_a? AdminUser %>
    <%= link_to "Nueva notice!", new_news_path %>
  <% end %>
</div>