<ul>
  <li><%= link_to_unless_current t(:news), news_index_path %></li>
  <li><%= link_to_unless_current t(:register), new_users_path %></li>
  <li><%= link_to_unless_current t(:about_us), about_path %></li>
</ul>